body {
  background-color: tan;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"SegoUI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","SegoUI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

div {
  display: block;
}

.top {
  margin-bottom: 0px;
}

.container {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0px auto;
  margin-bottom: 50px;
  width: 60%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 20px #505050;
}

.top {
  margin-bottom: 0px;
}

.logo {
  margin: 40px 56px 30px 70px;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 35px;
  margin: 0px 5% 20px 5%;
  display: inline-block;
}

nav ul {
  text-align: center;
  margin: 2px 2px 2px 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  font-size: 13px;
  display: inline;
  line-height: 31px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;

}

nav>ul>li>a {
  color: black;
}

h5 {
  text-decoration: underline;
}

.right-side {
  color: white;
  background-color: darkred;
  overflow-y: scroll;
  height: 360px;
}

footer {
  text-align: center;
}
